span{
    color: red;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-style:wavy;

}
.bebo{
    border:2px solid black;
    border-radius:20%;
    background: linear-gradient(to top right,white,purple);
}